<div class="about-representatives-section">
    <div class="container">
        <h2 class="about-representatives-section__title">Alumni Association Board Of Regents Representatives 2021-2022</h2>
        <div class="council-section__item">
            <img class="council-section__item-img" src="./images/council-section/stefan-jonasson-min.png" alt="man" width="184" height="184">
            <div>
                <p class="council-section__item-title">Chair, Board of Regents <br> Stefan Jonasson (Collegiate 79, BA 88, M.Div
                    97)</p>
                <p class="council-section__item-description">Stefan Jonasson is presently Editor of Lögberg-Heimskringla, an
                    Icelandic community newspaper. Previously, he was a
                    member of the professional staff of the Boston-based Unitarian Universalist Association for 24 years. Stefan
                    received
                    the University Gold Medal in Religious Studies in 1988 and the Governor General’s Gold Medal in 1997. He was
                    a member of
                    the Alumni Council from 2008 to 2014 and its president from 2012 to 2013. He was appointed to the Board of
                    Regents in
                    2015. He is also a member of the Interfaith Roundtable. He received the Queen Elizabeth II Diamond Jubilee
                    Medal in 2013
                    in recognition of his community service. Stefan lives in Winnipeg with his wife Cindy and they have two
                    adult daughters.</p>
            </div>
        </div>
        <div class="council-section__item">
            <img class="council-section__item-img" src="./images/council-section/dorothy-young-min.png" alt="woman"  width="184" height="184">
            <div>
                <p class="council-section__item-title">Board of Regents Representative<br>Dorothy Young (BA 75)</p>
                <p class="council-section__item-description">Dorothy was an educator (teacher, administrator, superintendent)
                    for 40 years in public education in Manitoba. She has a
                    BA from the University of Winnipeg, a B. Ed., M. Ed., and Ph. D. from the University of Manitoba, and
                    Certificates in
                    Clinical Supervision from UCLA. She was recently re-elected to a second three-year term on the Alumni
                    Council. Dorothy
                    has extensive volunteer experience within education, including President of The Manitoba Teachers’ Society;
                    at the
                    Canadian Museum for Human Rights; the Grace Hospital, including co-chair of the Patient and Family Advisory
                    Committee;
                    at her church; Child and Family Services of Winnipeg West, including chairperson; and as a Director on the
                    Board of CJNU
                    Nostalgia Radio. She has won numerous awards including the Dr. J. M. Brown Award for her outstanding
                    contribution to
                    teacher education in Manitoba, and the Paul Harris Fellow Award for vocational excellence from the
                    Winnipeg-Assiniboine
                    Rotary Club. In her spare time, Dorothy develops policies, procedures, and reviews bylaws and constitutions
                    for
                    organizations. Dorothy was appointed to the Board of Regents in July, 2019 and sits on both the Audit and
                    Risk and the
                    Governance and Community Relations Committees.</p>
            </div>
        </div>
        <div class="council-section__item">
            <img class="council-section__item-img" src="./images/council-section/ruth-min.png" alt="woman"  width="184" height="184">
            <div>
                <p class="council-section__item-title">Board of Regents Representative<br>Ruth Dickinson (BAH 18)</p>
                <p class="council-section__item-description">Ruth Dickinson has worked as a Business Administrator for 32 years
                    with the last 17 years at Reflections Dental Health
                    Centre and Campus Dental Centre, where she is Team Lead Manager. She is an alumnus of The University of
                    Winnipeg, where
                    she obtained her Bachelor of Arts Honours (Classics) in 2018 and Bachelor of Arts (Geography) in 2015, twice
                    earning the
                    Chancellor's Gold Medal for the highest standing. From 2010 to 2020 she was also a UW tutor, lab
                    demonstrator, marker,
                    invigilator and teaching assistant. She also attended Niagara College where she obtained her Dental
                    Assisting Diploma in
                    1989. Ruth served for two years as President of the University of Winnipeg Alumni Association, and currently
                    serves on
                    numerous boards including The Kroeger Clocks Heritage Foundation as Treasurer, as well as The University of
                    Winnipeg
                    Golden Key Chapter Executive Committee as Past President and current VP Alumni Relations. Ruth was appointed
                    to The
                    University of Winnipeg Board of Regents in 2020, and sits on the Board's Governance and Community Relations
                    Committee.
                    In her spare time, she co-organizes New Directions in Classics, a public lecture series out of the UWinnipeg
                    Classics
                    Department. Ruth was awarded the UWinnipeg Dr. and Mrs. Roderick Hunter Scholarship for her volunteer work.
                    Ruth plans
                    to begin her Master's in Business Administration in 2022.</p>
            </div>
        </div>
    </div>
   
</div>