<div class="about__description">
   <div class="container">
    <h1 class="about__description-title">
        Who We Are
    </h1>
    <p class="about__description-text">The Alumni Association is governed by a board of directors – referred to as the
        Alumni Council. We are a small group
        of
        dedicated people that share a common bond through our education at the University of Winnipeg. We are united by our
        desire to make a significant contribution to the University of Winnipeg community.</p>
    <p class="about__description-text">
        The mission of the UWinnipeg Alumni Association is to build and maintain lifelong relationships between the
        University
        and its diverse alumni and to foster an alumni program that expands alumni networks and generates loyalty to our
        University through mentorship, support, communication and lifelong learning.
    </p>
    <p class="about__description-text">
        To be a member of the Alumni Council, you must be an alumnus of The University of Winnipeg, Professional, Applied
        and
        Continuing Education (PACE), The Collegiate, or have graduated from any of the UWinnipeg affiliates prior to 1968,
        such
        as Manitoba College, Wesley College, or United College.
    </p>
    <p class="about__description-text">
        For more information please contact <a class="about__description-link" href="mailto:alumnicouncil@uwinnipeg.ca">alumnicouncil@uwinnipeg.ca</a>
    </p>
   </div>
</div>