<div class="chapters-events-section">
    <div class="container">
        <h2 class="chapters-events-section__title">
            UPCOMING EVENTS
        </h2>
        <ul class="chapters-events-section__list">
            <li class="chapters-events-section__item">
                <img  src="" alt="flag" width="453" height="212">
                <p class="chapters-events-section__descr">Manitoba</p>
            </li>
            <li class="chapters-events-section__item">
                <img src="" alt="flag" width="453" height="212">
                <p class="chapters-events-section__descr">Saskatchewan</p>
            </li>
            <li class="chapters-events-section__item">
                <img src="" alt="flag" width="453" height="212">
                <p class="chapters-events-section__descr">Alberta</p>
            </li>
            <li>
                <img src="" alt="flag" width="453" height="212">
                <p class="chapters-events-section__descr">British Columbia</p>
            </li>
            <li class="chapters-events-section__item">
                <img src="" alt="flag" width="453" height="212">
                <p class="chapters-events-section__descr">Ontario</p>
            
            </li>
            <li class="chapters-events-section__item">
                <img src="" alt="flag" width="453" height="212">
                <p class="chapters-events-section__descr">USA</p>
            </li>
        </ul>
    </div>
</div>