<div class="council-section">
    <div class="container">
        <h2>Alumni Council 2021-2022</h2>
        <div class="council-section__item">
            <img class="council-section__item-img" src="./images/council-section/president-min.png" alt="woman"  width="184" height="184">
            <div>
                <p class="council-section__item-title">President <br> Judith Neumann (BAH 71)</p>
                <p class="council-section__item-description">Judith graduated from the University of Winnipeg in 1971 with a double major in Psychology and Political Science. She
                has been involved with education throughout her lifetime, having been employed with the Department of Education in the
                areas of Planning and Research and Post-Secondary Education. Following this she was employed for many years with the
                Manitoba Association of School Trustees in the areas of Research and Communications. In addition she was one of the
                founding members and President of The Association for Bright Children (ABC) of Manitoba. Now retired, she has the time
                and interest in helping the Alumni Council achieve its goals. One of her particular interests is Mentorship and the
                wonderful networking opportunities that it can provide. She is married with two adult children.</p>
            </div>
        </div>
        <div class="council-section__item">
            <img class="council-section__item-img" src="./images/council-section/vice-president-min.png" alt="man"  width="184" height="184">
            <div>
                <p class="council-section__item-title">Vice-President <br> John Krahn (BSC 68)</p>
                <p class="council-section__item-description">John was awarded The University of Winnipeg Distinguished Alumni Award in 2006 for well-rounded excellence that
                encompassed professional achievements, significant contributions to community, and strength of character. He has a PHD
                from the University of Manitoba. Now retired, he was formerly the joint Head of the Department of Pathology and Lab
                Medicine for the University of Saskatchewan and the Saskatoon Health Region. He received his first degree from this
                university and it helped in his development as a scholar and scientist and would now like to make a contribution of his
                time. He interest on the Alumni Council is to support students and all things scientific.</p>
            </div>
        </div>
        <div class="council-section__item">
            <img class="council-section__item-img" src="./images/council-section/fred-min.png" alt="man"  width="184" height="184">
            <div>
                <p class="council-section__item-title">Council Member <br> Fred Appel (BAH 85)</p>
                <p class="council-section__item-description">I received my Ph.D. in political theory and political science from McGill University in the early 1990’s, a Masters in
                Sociology from the Universite de Montreal, and my B.A. Honours from the U of W in 1985. As an acquisition’s editor at
                Princeton University Press, a publisher of scholarly and general interest books based in Princeton, New Jersey, I have
                many connections with the global scholarly community and have worked with an array of authors, particularly in the
                humanities and social sciences. Among my authors are Canadians who work in higher education across North America, who
                might be inclined to participate in alumni events or otherwise support work being done at the U of W. As a member of the
                Alumni Council, I am pleased to offer suggestions for alumni programs such as lectures and for ways to connect U of W
                faculty to scholars with complementary interests around the world.</p>
            </div>
        </div>
        <div class="council-section__item">
            <img class="council-section__item-img" src="./images/council-section/jordan-michael-smith-min.png" alt="man"  width="184" height="184">
            <div>
                <p class="council-section__item-title">Council Member <br>Jordan Michael Smith (BA 14)</p>
                <p class="council-section__item-description">Jordan graduated from The University of Winnipeg with a BA in 2015. He is a former varsity athlete with the Wesmen.
                Jordan's connection and foundation runs deep with the University of Winnipeg. After graduating with a major in
                Sociology, he went on to join SkipTheDishes as a Senior Growth Executive at both their Winnipeg and Toronto offices.
                Here, he developed a passion towards community and technology, which led him to develop the peer-to-peer rental
                application RENTERII. Outside of tech, he is passionate about community development and the accessibility of
                entrepreneurship support structures - for students and residents located in low-income neighbourhoods throughout
                Winnipeg.</p>
            </div>
        </div>
        <div class="council-section__item">
            <img class="council-section__item-img" src="./images/council-section/brent-corrigan-min.png" alt="man"  width="184" height="184">
            <div>
                <p class="council-section__item-title">Council Member <br>Brent Corrigan (BED 79)</p>
                <p class="council-section__item-description">Brent graduated from the University of Winnipeg in 1979 with a Bachelor of Education Degree and also holds a Masters of
                Education Degree from the University of Manitoba. He worked for 31 years in education as a junior and senior high school
                teacher and administrator, and as a sessional instructor in the University of Winnipeg’s Faculty of Education. Career
                highlights include being the first principal of Collège Sturgeon Heights Collegiate after serving as the Chair of the
                Divisional Amalgamation Committee, as well as serving terms as the President of the Manitoba Association of Mathematics
                Teachers and the Technical Vocational Leadership Council. In retirement Brent has volunteered as a tutor for the John
                Howard Society and has worked at the West End Cultural Center. Brent hopes to contribute to the Marketing and
                Communications Committee to assist with the growth of the Alumni Association</p>
            </div>
        </div>
        <div class="council-section__item">
            <img class="council-section__item-img" src="./images/council-section/ann-evangelista-min.png" alt="man"  width="184" height="184">
            <div>
                <p class="council-section__item-title">Council Member <br>Ann Evangelista (BAH 22)</p>
                <p class="council-section__item-description">Ann completed an MA degree in Education, MBA, BA Degree in Developmental Studies in 2021, and BA (Honours) degree in
                Psychology in June 2022 at the University of Winnipeg. Ann greatly believes that being part of the Alumni Council is one
                of the best ways to give back to her Alma Mater. Ann works as an Instructor in the English Language Program at the
                University of Winnipeg. She is currently the Board Secretary of the UPAA-MB (University of the Philippines Alumni and
                Associates in Manitoba). She is also the lead advocate for WINCOM (Winnipeg Consular Movement), the call to have a
                Philippine Consulate Embassy in Manitoba.</p>
            </div>
        </div>
        <div class="council-section__item">
            <img class="council-section__item-img" src="./images/council-section/dorothy-young-min.png" alt="woman"  width="184" height="184">
            <div>
                <p class="council-section__item-title">Council Member <br>Dorothy Young (BA 75)</p>
                <p class="council-section__item-description">Dorothy was an educator (teacher, administrator, superintendent) for 40 years in public education in Manitoba. She has a
                BA from the University of Winnipeg, a B. Ed., M. Ed., and Ph. D. from the University of Manitoba, and Certificates in
                Clinical Supervision from UCLA. She was recently re-elected to a second three-year term on the Alumni Council. Dorothy
                has extensive volunteer experience within education, including President of The Manitoba Teachers’ Society; at the
                Canadian Museum for Human Rights; the Grace Hospital, including co-chair of the Patient and Family Advisory Committee;
                at her church; Child and Family Services of Winnipeg West, including chairperson; and as a Director on the Board of CJNU
                Nostalgia Radio. She has won numerous awards including the Dr. J. M. Brown Award for her outstanding contribution to
                teacher education in Manitoba, and the Paul Harris Fellow Award for vocational excellence from the Winnipeg-Assiniboine
                Rotary Club. In her spare time, Dorothy develops policies, procedures, and reviews bylaws and constitutions for
                organizations. Dorothy was appointed to the Board of Regents in July, 2019 and sits on both the Audit and Risk and the
                Governance and Community Relations Committees.</p>
            </div>
        </div>
        <div class="council-section__item">
            <img class="council-section__item-img" src="./images/council-section/jamal-min.png" alt="man"  width="184" height="184">
            <div>
                <p class="council-section__item-title">Council Member <br>Jamal Tajdin (BBA 2018)</p>
                <p class="council-section__item-description">Jamal is a recent graduate and has been able to obtain diverse work experience across multiple industries and countries.
                He believes it is important to help the next generations go through life. During his time at the university he worked at
                the UWSA, and is currently involved with multiple charities both local and international. He would like to have a role
                advising with both traditional and social media, as well as the legislative and parliamentary processes to get alumni
                involved and educated on the powerful role they have on the future of Canada.</p>
            </div>
        </div>
        <div class="council-section__item">
            <img class="council-section__item-img" src="./images/council-section/bryan-hobson-min.png" alt="man"  width="184" height="184">
            <div>
                <p class="council-section__item-title">Council Member <br>Bryan Hobson (BA 92)</p>
                <p class="council-section__item-description">Bryan graduated from the UWinnipeg in 1992 with a Bachelor of Arts majoring in administrative studies. He was the first
                in his Saulteaux Ojibway family from Swan Lake First Nation to obtain a university degree. For the last 14 years, Bryan
                has helped inspire Indigenous initiatives at UWinnipeg through his creation of the Bryan Hobson Fund, and advance
                education on-campus as a Legacy Circle donor. The fund that bears his name is dedicated to the Aboriginal Student
                Services Centre and the Aboriginal Students Council. As a proud alumnus, Bryan is taking on a more active role in our
                shared UWinnipeg communities in becoming one of our newest Alumni Council members. Bryan lives in Toronto, Ontario where
                he recently retired after a 30-year career.</p>
            </div>
        </div>
        <div class="council-section__item">
            <img class="council-section__item-img" src="./images/council-section/anifat-min.png" alt="university"  width="184" height="184">
            <div>
                <p class="council-section__item-title">Council Member <br>Anifat Olawoyin (BSCH 16, MSC 2019)</p>
                <p class="council-section__item-description">Anifat (Ani) graduated from the University of Winnipeg with honors in 2016 and completed her Master’s degree in computer
                science in 2019. She joined the Alumni council in 2016 and has served in various capacities within the council including
                chair, nomination committee (2017/18), By-law committee member (2016 till date), council representative on University
                staff award senate committee (2018 & 2019) and entrance award committee (2019). She also volunteers as a board member
                for Mooseland Press, the publisher of Uniter student newspaper. Ani is an alumni member of University of Winnipeg Golden
                Key Honour society and a community soccer coach. Ani has several years of work experience in software project management
                and business analysis. She is currently a Ph.D. student at the University of Manitoba and works as a Business Analyst
                for the City of Winnipeg. Ani is married and has 3 kids. She wishes to mentor new immigrants navigating education and
                career options.</p>
            </div>
        </div>
        <div class="council-section__item">
            <img class="council-section__item-img" src="./images/council-section/christian-milord-min.png" alt="man"  width="184" height="184">
            <div>
                <p class="council-section__item-title">Council Member <br>Christian Milord (BA 77)</p>
                <p class="council-section__item-description">Christian graduated from the U of W in 1977, with a major in History. He served in the U.S. Coast Guard (1978-82),
                specializing in Electronic Radio Navigation (LORAN-C) and financial services. Following his tour, he entered the
                education profession and was a secondary school educator for 30 years. He received his M.S. degree from California State
                University, Fullerton in 1988. Currently, Christian mentors adults and university students and continues to write
                articles for various media outlets. He resides in California.</p>
            </div>
        </div>
        <div class="council-section__item">
            <img class="council-section__item-img" src="./images/council-section/danielle-keenan-min.png" alt="woman"  width="184" height="184">
            <div>
                <p class="council-section__item-title">Council Member <br>Danielle Keenan (BA 16, PACE 16, PACE 18)</p>
                <p class="council-section__item-description">Danielle is a graduate of the University of Winnipeg with a Bachelor’s degree in criminal justice (16), a Public
                Relations and Strategic Communications Diploma (PACE 16), and a Marketing Management Diploma (PACE 16). Giving back to
                the community has been at the heart of Danielle’s identity and work her entire life, especially growing up in a small
                town. She has volunteered with local organizations such as the Lion’s Club and Knights of Columbus, as well as national
                organizations such as the Canadian Cancer Society, Alzheimer’s Society, and various political organizations. She now
                works for the Government of Canada, where she has the opportunity to mentor interns looking to work for the federal
                government, especially young women. She splits her time between Ottawa and Winnipeg.</p>
            </div>
        </div>
    </div>

</div>