<div class="description-section">
    <div class="container">
        <div class="description-section__wrapper">
            <div class="description-section__item">
                <img src="./images/description-section/about-img.png" alt="icon" width="24" height="24">
                <p class="description-section__item-title" class="">About us</p>
                <p class="description-section__item-text">Find out who we are, our mission, and how <br>
                    we are connecting with students and the <br> community.</p>
                <a class="description-section__item-link" href="../src/about.html"><span>Learn more</span></a>
            </div>
            <div class="description-section__item">
                <img src="./images/description-section/news-img.png" alt="icon" width="24" height="24">
                <p class="description-section__item-title" class="">Newsroom</p>
                <p class="description-section__item-text">See announcements about our latest event, <br>
                    news, and awards.</p>
                <a class="description-section__item-link" href="../src/news.html"><span>Learn more</span></a>
            </div>
            <div class="description-section__item">
                <img src="./images/description-section/house-img.png" alt="icon" width="24" height="24">
                <p class="description-section__item-title" class="">Alumni Chapters</p>
                <p class="description-section__item-text">Read about our alumni chapters thru out Canada and <br> Internationally.</p>
                <a class="description-section__item-link" href="../src/alumni-chapters.html"><span>Learn more</span></a>
            </div>
        </div>
    </div>
</div>