<div class="events-section">
    <div class="container">
        <h2 class="events-section__title">Upcoming events</h2>
        <h3 class="calendar__title">April 26, 2022</h3>
        <ul class="calendar__list">
            <li class="calendar__item">
                <div class="calendar__description">
                    <h4 class="calendar__item-title">Tyson Farago</h4>
                    <p class="calendar__item-descr">2022 -04-26 16:00 - 17:30 CST</p>
                </div>
                <button class="calendar-button" type="button"><svg class="calendar__icon" width="42" height="36">
                    <use href="./images/hero/symbol-defs.svg#icon-mail"></use>
                </svg></button>
            </li>
            <li class="calendar__item">
                <div class="calendar__description">
                    <h4 class="calendar__item-title">Fred Penner</h4>
                    <p class="calendar__item-descr">2022 -04-26 16:00 - 17:30 CST</p>
                </div>
                <button class="calendar-button" type="button"><svg class="calendar__icon" width="42" height="36">
                    <use href="./images/hero/symbol-defs.svg#icon-mail"></use>
                </svg></button>
            </li>
            <li class="calendar__item">
                <div class="calendar__description">
                    <h4 class="calendar__item-title">Fred Penner</h4>
                    <p class="calendar__item-descr">2022 -04-27 16:00 - 17:30 CST</p>
                </div>
                <button class="calendar-button" type="button"><svg class="calendar__icon" width="42" height="36">
                    <use href="./images/hero/symbol-defs.svg#icon-mail"></use>
                </svg>
            </button>
            </li>
        </ul>
    
        <h3 class="calendar__title">April 27, 2022</h3>
        <ul class="calendar__list">
            <li class="calendar__item">
                <div class="calendar__description">
                    <h4 class="calendar__item-title">Guy Maddin</h4>
                    <p class="calendar__item-descr">2022 -04-27 16:00 - 17:30 CST</p>
                </div>
                <button class="calendar-button" type="button"><svg class="calendar__icon" width="42" height="36">
                    <use href="./images/hero/symbol-defs.svg#icon-mail"></use>
                </svg></button>
            </li>
        </ul>
    </div>
</div>