<header class="header">
    <div class="container">
       <div class="header__wrapper">
        <a class="header__logo" href="../src/index.html">U Of W Alumni</a>
        <nav class="header__nav">
            <div class="header__nav-links">
                <a class="header__nav-item" href="../src/news.html">Events</a>
                <a href="../src/shop.html">Shop</a>
            </div>
            <button class="header__nav-bnt btn btn__light" type="button">
                Stay Connected
            </button>
        </nav>
       </div>
    </div>
</header>
