<main class="hero">
    <div class="container">
        <div class="hero__wrapper">
            <div class="hero__form">
                <div class="hero__nav">
                    <div class="hero__nav-item">
                        <a class="hero__nav-link" href="">
                            <svg class="hero__nav-icon" width="24" height="25">
                                <use href="./images/hero/symbol-defs.svg#icon-collegiate"></use>
                            </svg>
                            <span class="hero__nav-text">The <br> Collegiate</span>
                        </a>
                    </div>
                    <div  class="hero__nav-item">
                        <a class="hero__nav-link" href="">
                            <svg class="hero__nav-icon" width="20" height="25">
                                <use href="./images/hero/symbol-defs.svg#icon-univer"></use>
                            </svg>
                            <span class="hero__nav-text">
                                The University of <br> Winnipeg
                            </span>
                        </a>
                    </div>
                    <div  class="hero__nav-item">
                        <a class="hero__nav-link" href="">
                            <img class="hero__nav-icon" src="./images/hero/pace.png" alt="pace" width="28" height="20">
                            <span class="hero__nav-text">PACE</span>
                        </a>
                    </div>
                </div>
                <h1 class="hero__title">U OF W <br> <span class="hero__title-alumni">ALUMNI</span></h1>
                <p class="hero__description">Be a part of the powerful network of 50,000 alumni ambassadors
                    going beyond <br> expectations to have a lasting impact on the world.</p>
                <button class="btn btn__dark btn__hero">Stay Connected</button>
            </div>
        </div>
    </div>
</main>
