<main class="news-section">
    <div class="container">
        <div class="news-section__wrapper">
            <div class="news-section__form">
                <div class="news-section__nav">
                    <div class="news-section__nav-item">
                        <a class="news-section__nav-link" href="">
                            <svg class="news-section__nav-icon" width="24" height="25">
                                <use href="./images/hero/symbol-defs.svg#icon-collegiate"></use>
                            </svg>
                            <span class="news-section__nav-text">The <br> Collegiate</span>
                        </a>
                    </div>
                    <div class="news-section__nav-item">
                        <a class="news-section__nav-link" href="">
                            <svg class="news-section__nav-icon" width="20" height="25">
                                <use href="./images/hero/symbol-defs.svg#icon-univer"></use>
                            </svg>
                            <span class="news-section__nav-text">
                                The University of <br> Winnipeg
                            </span>
                        </a>
                    </div>
                    <div class="news-section__nav-item">
                        <a class="news-section__nav-link" href="">
                            <img class="news-section__nav-icon" src="./images/hero/pace.png" alt="pace" width="28" height="20">
                            <span class="news-section__nav-text">PACE</span>
                        </a>
                    </div>
                </div>
                <h1 class="news-section__title"><span class="news-section__title-alumni">ALUMNI</span><br> SPEAKER SERIES</h1>
                <p class="news-section__text">Be a part of the powerful network of 50,000 alumni ambassadors <br>
                going beyond expectations to have a lasting impact on the world.</p>
                <button class="btn btn__dark" type="button">Stay Connected</button>
            </div>

        </div>

    </div>

</main>