<div class="charity-section">
    <div class="container">
        <div class="charity-section__wrapper">
            <img class="charity-section__logo" src="./images/president-charity/wf-logo-min.png" alt="logo" width="380" height="134">
                <div>
                    <h2 class="charity-section__title">2022 Charity Focus</h2>
                    <p class="charity-section__descr">
                        No matter how big or small, donations from alumni are greatly appreciated, especially by the charities of focus who
                        benefit from your generosity. Should you wish to make a donation online - <a class="charity-section__link" href="#">CLICK HERE</a>
                    </p>
                </div>
        </div>
    </div>
</div>