<div class="president-speak-section">
    <div class="container">
        <h2 class="president-speak-section__title">Hello, Bonjour, Tanisi</h2>
        <p class="president-speak-section__text">
            Hello fellow alumni! It is my pleasure to bring greetings to you from the Alumni Council in my position as President of
            the U of W Alumni Association.
            Over the years, our alumni have had a strong voice in the university community. The Wesley Graduates Association was
            formed in 1935, followed by the United College Graduates Association in 1938, and though the name may have changed,
            there has consistently been a president and executive elected from that year onward. The great step forward came on
            September 15, 1967 when the name was changed to the University of Winnipeg Alumni Association, coincidently, the very
            year I entered The University of Winnipeg as a brand new student. From this point onward, a full executive was elected
            annually. <br>
            The 21st century brings with it new challenges for alumni engagement. The most striking generational difference with our
            recent graduates is the importance placed on career and professional development, and being entrenched in the digital
            age, they express a clear interest in accessing curated content online. They also place a higher value on social and
            networking connections. Trying to address the needs of our “older” and “newer” alumni is indeed a challenge, but an
            exciting one as well. <br>
            Your Alumni Council has been working closely with the new CEO of The University of Winnipeg Foundation, Javier
            Schweresensky, looking at the roles played by various university partners and how we may work together toward a new and
            exciting plan of Alumni Engagement going forward. I hope in our next issue of the newsletter I will be able to provide
            more details. <br>
            To be a member of the Alumni Council is an honour which I have enjoyed for three years. We are a group of dedicated
            people that share a common bond and are united by our desire to make a significant contribution to the University of
            Winnipeg community. We meet the last Tuesday evening of the month from September to May. If you are interested in
            applying for a position on our council, please go to our University of Winnipeg Alumni Association web page, and click
            on Council Member Application Form. We look forward to seeing you in the Fall. <br>
            This last year has been a particular challenge for us since many of our regular activities had to be put on hold due to
            COVID. We particularly missed being on-campus to interact with alumni during Homecoming, we missed being there in person
            to welcome our newly-graduated class at convocations, and we very much missed sharing some time with students during
            Food for Thought, where we provide some food and drink for our busy students during exam time.
            With regard to our Speaker Series, though we couldn’t have in- person speaking events, we realized that online events
            could be a good second option. We held a successful Coffee Break Chat with Pat Sherlock, International CEO of Canada
            Goose in February, and we are pleased to announce that our next speaker event will be held on Wednesday, May 19, 2021,
            featuring Dr. Stephen Borys, CEO of the WAG and Qaumajuq. Please see our advertisement in this newsletter, and join us
            for what will be a very interesting talk. <br>
            I am always looking for news items or ideas for future articles. Please feel free to write me with your comments or
            questions at – alumni@uwinnipeg.ca I would love to hear from you.
            Until next time, please stay well. <br>
            Judith Neumann <br>
            President, <br>
            U of W Alumni Association
        </p>
    </div>
</div>