<div class="shop-section">
    <div class="container">
        <div class="shop-section__items">
            <div class="shop-section__item-first">
                <div class="shop-section__item shop-item__shop">
                    <h1 class="shop-section__title"><span class="shop-section__title-part">U OF W <br></span>BUILT</h1>
                    <p class="shop-section__description">The University of Winnipeg Alumni has partnered with Far From Ordinary to
                        launch a unique capsule collection for Alumni
                        who want to wear their pride in their city wherever they are</p>
                    <a class="btn btn__dark" href="https://www.ffoclothing.com/uwinnipegalumni">Shop</a>
                </div>
                            <div>
                                <img src="./images/shop-section/shop-2-min.png" alt="a couple" width="657" height="931">
                            </div>
            </div>
            <div  class="shop-section__item-first">
                <div class="shop-section__item">
                    <img src="./images/shop-section/shop-1-min.png" alt="university" width="782" height="590">
                </div>
                <div class="shop-item__explore shop-item__description">
                    <h2 class="shop-section__title">Wear your pride <br> Canada-Wide</h2>
                    <p class="shop-section__description">The Far From Ordinary / University of Winnipeg Alumni collection includes
                        apparel such as hoodies, tees and fleece pants
                        as well as accessories like totes, all of which were designed and manufactured in Canada</p>
                    <a class="btn btn__dark" href="https://www.ffoclothing.com/uwinnipegalumni">Explore</a>
                </div>
            </div>
        </div>
       
    
    </div>
</div>