<div class="shop-wallet">
    <div class="container">
        <h2 class="shop-wallet__title">Exclusive Digital Wallet</h2>
        <p class="shop-wallet__desc">Recieve exclusive partner discounts being a University of Winnipeg Alumni with our digital wallt</p>
        <div class="shop-wallet__nav">
            <button class="btn btn__dark shop-wallet__btn" type="button">Get</button>
            <img class="shop-wallet__logo" src="./images/shop-wallet/neo-min.png" alt="logo" width="62" height="39">
            <img src="./images/shop-wallet/renterii-logo-min.png" alt="logo" width="37.5" height="19">
        </div>

    </div>
</div>