<div class="speaker-series-section">
    <div class="container">
        <h2 class="speaker-series-section__title">Speaker Series</h2>
        <div class="speaker-series-section__news-item">
            <div class="speaker-series-section__item">
                <a class="speaker-series-section__link" href="#"><span>Tyson Farago - Pro Soccer</span>
                    <svg class="speaker-series-section__icon" width="37" height="15">
                        <use href="./images/hero/symbol-defs.svg#icon-arrow-right2"></use>
                    </svg>
            </a>
                
            </div>
            <div class="speaker-series-section__item">
                <a class="speaker-series-section__link" href=""><span>Fred Penner - Juno Winner</span>
                    <svg class="speaker-series-section__icon" width="37" height="15">
                        <use href="./images/hero/symbol-defs.svg#icon-arrow-right2"></use>
                    </svg>
            </a>
            
            </div>
        </div>
    </div>
</div>