.about-representatives-section {
    padding-top: 32px;

    border: 1px solid #000;
    margin-bottom: 47px;

}


.about-representatives-section__title {
    font-family: 'Roboto';
        font-weight: 400;
        font-size: 45px;
        line-height: 53px;
        margin-bottom: 204px;
}
