.about__description {
    padding: 49px 49px;
    margin-bottom: 45px;

    border: 1px solid #000;
}

.about__description-title {
    font-family: 'Roboto';
        font-weight: 400;
        font-size: 45px;
        line-height: 53px;

        margin-bottom: 25px;
}

.about__description-text {
    font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
}

.about__description-link{
    font-weight: 700;
}