.chapters-events-section {
    border: 1px solid #000;

    padding: 41px 48px;
}

.chapters-events-section__title {
    font-family: 'Roboto';
        font-weight: 400;
        font-size: 45px;
        line-height: 53px;
}

.chapters-events-section__list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

// .chapters-events-section__item {}

// .chapters-events-section__descr {}