.president-speak-section {
    background-color: #FFFCFC;
    padding: 44px 48px;
    border: 1px solid #000;

    margin-bottom: 51px;
    
}


.president-speak-section__title {
    font-family: 'Roboto';
        font-weight: 400;
        font-size: 45px;
        line-height: 53px;

        margin-bottom: 22px;
}

.president-speak-section__text {
    font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
}