.about-hero{
    border-left: 1px solid #000;
        border-bottom: 1px solid #000;
        margin-bottom: 70px;
    
        background-image: url('../images/about-section/about_bcground-min.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
}